
backup/actualPMEdit.ui
backup/addEquipUIForm.ui
backup/addMeasureUIForm.ui
backup/addRiskUIForm.ui
backup/addSensorTypeUIForm.py
backup/addSensorUIForm.ui
backup/anothercoolmap.pgerd
backup/collmap.pgerd
backup/cool.txt
backup/editMeasureUIForm.ui
backup/editRiskUIform.ui
backup/equipmentEditUIForm.ui
backup/equipSensorManagementForm.ui
backup/generateLogs.ui
backup/logGen.py
backup/mainWinVer1.ui
backup/miniTypeAdd.ui
backup/newEditMeasureUIForm.ui
backup/newEditRiskUIForm.ui
backup/sndTab.py
backup/ttab_ui — копия.ui
backup/ttab_ui.ui
backup/ttab_uiver2.ui
backup/ui_actualPMEdit.py
backup/ui_editMeasureUIForm.py
backup/ui_editRiskUIform.py
backup/ui_mainWinVer1.py
backup/ui_miniTypeAdd.py
backup/ui_newEditMeasureUIForm.py
backup/ui_newEditRiskUIForm.py
backup/new/actualPMEdit.ui
backup/new/addMeasureUIForm.ui
backup/new/addRiskUIForm.ui
backup/new/cool.txt
backup/new/editMeasureUIForm.ui
backup/new/editRiskUIform.ui
backup/new/generateLogs.ui
backup/new/log_gen_app.py
backup/new/mainWinVer1.ui
backup/new/nEMUIF.py
backup/new/newEditMeasureUIForm.py
backup/new/newEditMeasureUIForm.ui
backup/new/newEditRiskUIForm.ui
backup/new/oil_factory_risk_register_main_window.ui
backup/new/pmeditform.py
backup/new/recent_design.ui
backup/new/ui_actualPMEdit.py
backup/new/ui_newEditMeasureUIForm.py
backup/new/ui_newEditRiskUIForm.py
dist/oil_factory_risk_reg.exe
dist/oil_factory_risk_reg.rar
images/adf
images/onefiadl.pgerd
images/ver_2.o.pgerd
old/addMeasureUIForm.py
old/addRiskUIForm.py
old/editMeasureUIForm.py
old/editRiskUIForm.py
old/setup.py
old/sql_routine.ipynb
old/test_.py
build/oil_factory_risk_reg/Analysis-00.toc
build/oil_factory_risk_reg/base_library.zip
build/oil_factory_risk_reg/EXE-00.toc
build/oil_factory_risk_reg/oil_factory_risk_reg.exe.manifest
build/oil_factory_risk_reg/oil_factory_risk_reg.pkg
build/oil_factory_risk_reg/PKG-00.toc
build/oil_factory_risk_reg/PYZ-00.pyz
build/oil_factory_risk_reg/PYZ-00.toc
build/oil_factory_risk_reg/Tree-00.toc
build/oil_factory_risk_reg/Tree-01.toc
build/oil_factory_risk_reg/Tree-02.toc
build/oil_factory_risk_reg/warn-oil_factory_risk_reg.txt
build/oil_factory_risk_reg/xref-oil_factory_risk_reg.html
build/oil_factory_risk_reg/localpycs/pyimod01_archive.pyc
build/oil_factory_risk_reg/localpycs/pyimod02_importers.pyc
build/oil_factory_risk_reg/localpycs/pyimod03_ctypes.pyc
build/oil_factory_risk_reg/localpycs/pyimod04_pywin32.pyc
build/oil_factory_risk_reg/localpycs/struct.pyc
util/dist/log_gen.exe
util/dist/log_gen.rar
util/data_import.rar
util/build/log_gen/Analysis-00.toc
util/build/log_gen/base_library.zip
util/build/log_gen/EXE-00.toc
util/build/log_gen/log_gen.exe.manifest
util/build/log_gen/log_gen.pkg
util/build/log_gen/PKG-00.toc
util/build/log_gen/PYZ-00.pyz
util/build/log_gen/PYZ-00.toc
util/build/log_gen/warn-log_gen.txt
util/build/log_gen/xref-log_gen.html
util/build/log_gen/localpycs/pyimod01_archive.pyc
util/build/log_gen/localpycs/pyimod02_importers.pyc
util/build/log_gen/localpycs/pyimod03_ctypes.pyc
util/build/log_gen/localpycs/pyimod04_pywin32.pyc
util/build/log_gen/localpycs/struct.pyc
util/data_import/dist/db_setup.exe
util/data_import/build/db_setup/Analysis-00.toc
util/data_import/build/db_setup/base_library.zip
util/data_import/build/db_setup/db_setup.exe.manifest
util/data_import/build/db_setup/db_setup.pkg
util/data_import/build/db_setup/EXE-00.toc
util/data_import/build/db_setup/PKG-00.toc
util/data_import/build/db_setup/PYZ-00.pyz
util/data_import/build/db_setup/PYZ-00.toc
util/data_import/build/db_setup/Tree-00.toc
util/data_import/build/db_setup/Tree-01.toc
util/data_import/build/db_setup/Tree-02.toc
util/data_import/build/db_setup/warn-db_setup.txt
util/data_import/build/db_setup/xref-db_setup.html
util/data_import/build/db_setup/localpycs/pyimod01_archive.pyc
util/data_import/build/db_setup/localpycs/pyimod02_importers.pyc
util/data_import/build/db_setup/localpycs/pyimod03_ctypes.pyc
util/data_import/build/db_setup/localpycs/pyimod04_pywin32.pyc
util/data_import/build/db_setup/localpycs/struct.pyc
util/data_import/__pycache__/db_operation_functions.cpython-310.pyc
oil_factory_risk_reg.spec
util/threded_test.py
util/sndTab.py
util/plot_opt.py
util/plot_opt_features.py
util/logGen.py
util/log_gen.spec
util/db_init_helper.ipynb
util/data_import/datageneraot.ipynb
util/db_init.py
util/sql_qq.sql
main.spec
__pycache__/addEquipFormUI.cpython-310.pyc
__pycache__/addMeasureUIForm.cpython-310.pyc
__pycache__/addRiskUIForm.cpython-310.pyc
__pycache__/addSensorUIForm.cpython-310.pyc
__pycache__/db_operation_functions.cpython-310.pyc
__pycache__/editEquipFormUI.cpython-310.pyc
__pycache__/editMeasureUIForm.cpython-310.pyc
__pycache__/editRiskUIForm.cpython-310.pyc
__pycache__/editSensorUIForm.cpython-310.pyc
__pycache__/MainWindow.cpython-310.pyc
__pycache__/newAddPMUIForm.cpython-310.pyc
__pycache__/newAddRiskUIForm.cpython-310.pyc
__pycache__/newEditPMUIForm.cpython-310.pyc
__pycache__/newEditRiskUIForm.cpython-310.pyc
__pycache__/plot_opt.cpython-310.pyc
__pycache__/risk_matrix_plotter.cpython-310.pyc
__pycache__/risk_register_data.cpython-310.pyc
__pycache__/test_thing.cpython-310.pyc
util/__pycache__/db_operation_functions.cpython-310.pyc
