--
-- PostgreSQL database dump
--

SET statement_timeout = 0;


SET lock_timeout = 0;


SET idle_in_transaction_session_timeout = 0;


SET client_encoding = 'UTF8';


SET standard_conforming_strings = on;


SELECT pg_catalog.set_config('search_path', '', false);


SET check_function_bodies = false;


SET xmloption = content;


SET client_min_messages = warning;


SET row_security = off;


SET default_tablespace = '';


SET default_table_access_method = heap;

--
-- Name: sensor; Type: TABLE; Schema:  Owner: postgres
--

CREATE TABLE public.sensor (sensor_id SERIAL PRIMARY KEY,
                                                     sensor_name varchar(255),
                                                                 sensor_type_id integer, unit_id integer, limit_mode_value double precision, sensor_installation_date date, sensor_average_lifetime integer, equipment_id integer);

-- ALTER TABLE public.sensor OWNER TO postgres;

CREATE TABLE public.equipment (equipment_id SERIAL PRIMARY KEY,
                                                           equipment_name varchar(255),
                                                                          equipment_designation varchar(255),
                                                                                                equipment_type_id integer, equipment_details text, equipment_installation_date date, equipment_average_lifetime integer, equipment_status boolean DEFAULT false,
                                                                                                                                                                                                                                                          equipment_manufacturer_name varchar(255));

-- ALTER TABLE public.equipment OWNER TO postgres;
 --
-- Name: equipment_type; Type: TABLE; Schema:  Owner: postgres
--

CREATE TABLE public.equipment_type (equipment_type_id SERIAL PRIMARY KEY,
                                                                     equipment_type_name varchar(255),
                                                                                         equipment_type_details text);

-- ALTER TABLE public.equipment_type OWNER TO postgres;
 --
-- Name: equipment_type_equipment_type_id_seq; Type: SEQUENCE; Schema:  Owner: postgres
--
 --
-- Name: prevention_measures; Type: TABLE; Schema:  Owner: postgres
--

CREATE TABLE public.prevention_measures(prevention_measure_id SERIAL PRIMARY KEY,
                                                                             risk_id integer, prevention_measure_name varchar(255),
                                                                                                                      prevention_measure_details text, prevention_measure_status boolean, prevention_measure_date date);

-- ALTER TABLE public.prevention_measures OWNER TO postgres;
 --
-- Name: risk_classification; Type: TABLE; Schema:  Owner: postgres
--

CREATE TABLE public.risk_classification (risk_class_id SERIAL PRIMARY KEY,
                                                                      risk_class_name character(50),
                                                                                      risk_class_details text);

-- ALTER TABLE public.risk_classification OWNER TO postgres;
 --
-- Name: risk_register; Type: TABLE; Schema:  Owner: postgres
--

CREATE TABLE public.risk_register(risk_id SERIAL PRIMARY KEY,
                                                         risk_name text, risk_class_id integer, risk_details text, risk_score double precision, risk_holder character(50),
                                                                                                                                                            risk_prob integer DEFAULT 0,
                                                                                                                                                                                      risk_damage integer DEFAULT 0);

-- ALTER TABLE public.risk_register OWNER TO postgres;
 --
-- Name: sensor_logs; Type: TABLE; Schema:  Owner: postgres
--

CREATE TABLE public.sensor_logs (sensor_log_id SERIAL PRIMARY KEY,
                                                              sensor_id integer, log_datetime timestamp without time zone,
                                                                                                                     sensor_value double precision, raw_log varchar(255));

-- ALTER TABLE public.sensor_logs OWNER TO postgres;
 -- Name: sensor_type; Type: TABLE; Schema:  Owner: postgres
--

CREATE TABLE public.sensor_type (sensor_type_id SERIAL PRIMARY KEY,
                                                               sensor_type_name varchar(255));

-- ALTER TABLE public.sensor_type OWNER TO postgres;
 --
-- Name: sensor_unit; Type: TABLE; Schema:  Owner: postgres
--

CREATE TABLE public.sensor_unit (unit_id SERIAL PRIMARY KEY,
                                                        unit_name varchar(255),
                                                                  sensor_type_id integer);

-- ALTER TABLE public.sensor_unit OWNER TO postgres;
 --
-- Name: sensor Sensor_sensor_type_id_fkey; Type: FK CONSTRAINT; Schema:  Owner: postgres
--

ALTER TABLE ONLY public.sensor ADD CONSTRAINT "Sensor_sensor_type_id_fkey"
FOREIGN KEY (sensor_type_id) REFERENCES public.sensor_type(sensor_type_id);

--
-- Name: sensor Sensor_unit_id_fkey; Type: FK CONSTRAINT; Schema:  Owner: postgres
--

ALTER TABLE ONLY public.sensor ADD CONSTRAINT "Sensor_unit_id_fkey"
FOREIGN KEY (unit_id) REFERENCES public.sensor_unit(unit_id);

--
-- Name: equipment equipment_equipment_type_id_fkey; Type: FK CONSTRAINT; Schema:  Owner: postgres
--

ALTER TABLE ONLY public.equipment ADD CONSTRAINT equipment_equipment_type_id_fkey
FOREIGN KEY (equipment_type_id) REFERENCES public.equipment_type(equipment_type_id);

--
-- Name: prevention_measures prevention_measures_risk_id_fkey; Type: FK CONSTRAINT; Schema:  Owner: postgres
--

ALTER TABLE ONLY public.prevention_measures ADD CONSTRAINT prevention_measures_risk_id_fkey
FOREIGN KEY (risk_id) REFERENCES public.risk_register(risk_id) ON
DELETE CASCADE NOT VALID;

--
-- Name: risk_register risk_register_risk_class_id_fkey; Type: FK CONSTRAINT; Schema:  Owner: postgres
--

ALTER TABLE ONLY public.risk_register ADD CONSTRAINT risk_register_risk_class_id_fkey
FOREIGN KEY (risk_class_id) REFERENCES public.risk_classification(risk_class_id);

--
-- Name: sensor sensor_equipment_id_fkey; Type: FK CONSTRAINT; Schema:  Owner: postgres
--

ALTER TABLE ONLY public.sensor ADD CONSTRAINT sensor_equipment_id_fkey
FOREIGN KEY (equipment_id) REFERENCES public.equipment(equipment_id) ON
DELETE CASCADE NOT VALID;

--
-- Name: sensor_logs sensor_logs_sensor_id_fkey; Type: FK CONSTRAINT; Schema:  Owner: postgres
--

ALTER TABLE ONLY public.sensor_logs ADD CONSTRAINT sensor_logs_sensor_id_fkey
FOREIGN KEY (sensor_id) REFERENCES public.sensor(sensor_id);

--
-- Name: sensor_unit sensor_unit_sensor_type_id_fkey; Type: FK CONSTRAINT; Schema:  Owner: postgres
--

ALTER TABLE ONLY public.sensor_unit ADD CONSTRAINT sensor_unit_sensor_type_id_fkey
FOREIGN KEY (sensor_type_id) REFERENCES public.sensor_type(sensor_type_id) ON
DELETE CASCADE NOT VALID;

--
-- PostgreSQL database dump complete
--
